@font-principal: 'Roboto', sans-serif;
@border-radius-base: 8px;
@border-radius-img: 16px;


@tablet: ~"screen and (max-width: 1023px)";
@mobile: ~"screen and (max-width: 767px)";


#colors() {
  primary: #182C61;
  secondary: #44bd32;
  secondary-hover: #4cd137;
  bg-body: #f5f6fa;
  text-light: #fff;
}