
@import "variables";
@import "header";
@import "products";


* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: @font-principal;
}

body {
  background-color: #colors[bg-body];
}

li {
  list-style: none;
}

.container {
  max-width: 1024px;
  width: 100%;
  margin: 0 auto;

  // Sintaxe atualizada com chaves @{...}
  @media @{tablet} {
    max-width: 80%;
  }
}